html,body{
  width: 100%;
  height: 100%;
}
html{
  font-size: 62.5%;
  background-color: #f4f3f6;
  color: #74645c;
}
body{
  max-width: 800px;
  margin: 0 auto;
}
section{
  margin-bottom: 60px;
}
h1{
  font-size: 2rem;
  margin: 30px 0 40px;
}
h2{
  font-size: 1.8rem;
}
p{
  font-size: 1.4rem;
}
pre{
  margin: 10px 0 30px;
  padding-top: 20px;
  background: #333;
  color: #fff;
  font-size: 1.4rem;
}

.sky{
  color: lightblue;
}
.pink{
  color: pink;
}
.yellow{
  color: yellow;
}
.green{
  color: greenyellow;
}